.body{
    margin-left: 30%;
        padding: 80px 30px;

   
}

.Button {
    border: none;
    color: rgb(197, 164, 164);
    padding: 15px 30px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

.btnEdt{
  width: 200px;
  height: 70px;
  margin-left: auto;
  border: none;
  background: linear-gradient(120deg,#34dbb7,#8e44ad,#3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid rgb(59, 55, 55);
}

.btnEdt:hover{
  background-color: transparent;
  color: #3494db;
}

.btnDel{
  width: 200px;
  height: 70px;
  margin-left: auto;
  border: none;
  background: linear-gradient(120deg,#34dbb7,#8e44ad,#3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid rgb(59, 55, 55);

}

.btnDel:hover{
  background-color: transparent;
  color: rgb(219, 52, 80);
  border: solid rgb(219, 52, 80);
}