.body{
    margin-left: 30%;
        padding: 80px 30px;

   
}

.Button {
    border: none;
    color: rgb(197, 164, 164);
    padding: 15px 30px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

.btnEdt{
  width: 150px;
  height: 40px;
  margin-left: auto;
  background-color: #3494db;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #3494db;
  transition: .3s linear;
}

.btnEdt:hover{
  background-color: transparent;
  color: #3494db;
}

.btnDel{
  width: 150px;
  height: 40px;
  margin-left: auto;
  background-color: rgb(219, 52, 80);
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid rgb(219, 52, 80);
  transition: .3s linear;
}

.btnDel:hover{
  background-color: transparent;
  color: rgb(219, 52, 80);
    border: solid rgb(219, 52, 80);
}