* {
    margin: 0;
    padding: 0;
  }
   
  /* body {
    margin: 25px auto;
    font-family: "Calibri";
    font-weight: 350;
  } */
   
  #inboxform {
    padding: 20px 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  /* form label {
    font-size: 1.5rem;
    font-weight: bold;
  } */
   
  input {
    font-family: "Calibri";
  }
   
  /* a {
    color: #00b7ff;
    text-decoration: none;
  }
   
  a:hover {
    text-decoration: underline;
  } */
  #inboxwrapper{
    margin: 0 auto;
    padding-bottom: 5px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
  }
  #chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
  }
  #usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ff9800;
  }
   

   
  #submitmsg,
  #enter{
    background: #ffe600;
    border: 3px solid #ff0000;
    color: rgb(0, 0, 0);
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
   
  .error {
    color: #ff0000;
  }
  #inboxexit {
    color: rgb(0, 0, 0);
    background: #ff0000;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
  }