.body {
	height: 100%;
}

.body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
}

.h1{
    color: rgb(0, 0, 0);
    padding: 10px;
}

table {
	width: 700px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	overflow-y: scroll;
}

td {
  padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: rgb(5, 5, 5);
}

thead {
    text-align: left;
    background: linear-gradient(120deg,#34dbb7,#8e44ad,#3498db);
  }

.jobs:hover{
    background-color: rgba(255,255,255,0.3);
    transition: all 0.2s ease-out;
}

.edt{
  align-content: center;
  text-align: center;
  width: 200px;
}